    body {
        font-family: sans-serif;
        color: rgb(211, 122, 255);
    }

    .button-grid{

        height:50px;
        width:50px;
        font-size: 14px;
        padding:14px 14px;
        vertical-align: middle;
        background-color: #ff;
        font-family: sans-serif;


    }
    .button-reset{


            vertical-align: middle;
            background-color: #ff;
            font-family: sans-serif;


        }
    p{
        color:rgb(0,0,0);
    }
